<template>
  <main class="container">
    <div id="firstpage">
      <div id="herocol">
        <Hero />
      </div>
      <div id="maincol">
        <slot />
      </div>
    </div>
    <div id="experience">
      <h3>Experience</h3>
      <Experience />
    </div>
  </main>
</template>

<style>
[data-theme='light'],
:root:not([data-theme='dark']) {
  --pico-text-selection-color: rgba(2, 154, 232, 0.25);
  --pico-primary: #0172ad;
  --pico-primary-background: #0172ad;
  --pico-primary-underline: rgba(1, 114, 173, 0.5);
  --pico-primary-hover: #015887;
  --pico-primary-hover-background: #02659a;
  --pico-primary-focus: rgba(2, 154, 232, 0.25);
  --pico-primary-inverse: #fff;
}

/* Azure color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-text-selection-color: rgba(1, 170, 255, 0.1875);
    --pico-primary: #01aaff;
    --pico-primary-background: #0172ad;
    --pico-primary-underline: rgba(1, 170, 255, 0.5);
    --pico-primary-hover: #79c0ff;
    --pico-primary-hover-background: #017fc0;
    --pico-primary-focus: rgba(1, 170, 255, 0.25);
    --pico-primary-inverse: #fff;
  }
}

/* Azure color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  --pico-text-selection-color: rgba(1, 170, 255, 0.1875);
  --pico-primary: #01aaff;
  --pico-primary-background: #0172ad;
  --pico-primary-underline: rgba(1, 170, 255, 0.5);
  --pico-primary-hover: #79c0ff;
  --pico-primary-hover-background: #017fc0;
  --pico-primary-focus: rgba(1, 170, 255, 0.25);
  --pico-primary-inverse: #fff;
}

/* Global CSS variables */
:root {
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0;
  --grid-spacing-vertical: 1rem;
}
#experience {
  padding: 3em;
}

#firstpage {
  display: grid;
  gap: 0px 0px;
}
@media (min-width: 768px) {
  #firstpage {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  #firstpage {
    grid-template-columns: 1fr;
  }
}

#maincol {
  padding: 1.5em;
}
#herocol {
  background-color: var(--pico-primary-background);
}
#herocol > :first-child {
  margin: 1.5em;
}
#herocol img {
  border-radius: 50%;
  margin-bottom: 2em;
}
#herocol * {
  color: var(--pico-primary-inverse);
}
#herocol a {
  color: aqua;
}
.unstyled {
  padding: 0;
}
.unstyled li {
  list-style: none;
}
.experience img {
  height: 5em;
  margin-right: 1em;
}
.experience li {
  margin: 2em 0;
}
.techs kbd {
  margin: 0.2em 0.2em 0 0;
}

@media print {
  :root {
    --pico-font-size: 100%;
  }
  .container {
    width: 210mm;
    margin: 0;
  }
  #firstpage {
    break-after: page;
    grid-template-columns: 80mm 140mm;
  }
  #herocol {
    height: 310mm;
  }
  #experience li {
    break-inside: avoid;
  }
  .extratoppad {
    padding-top: 2em;
  }
}
</style>
