<template>
  <ul class="unstyled experience">
    <li v-for="(i, idx) in data.experience" :key="idx" :class="i.class">
      <img :src="i.logo" style="float: left" />
      <hgroup>
        <h4>#{{ idx + 1 }} {{ i.name }}</h4>
        <small>{{ i.duration }}</small>
        <h5>{{ i.position }}</h5>
      </hgroup>
      <ContentRenderer tag="p">{{ i.desc }}</ContentRenderer>
      <p class="techs">
        <kbd v-for="(y, idx) in i.techs" :key="idx">#{{ y }}</kbd>
      </p>
    </li>
  </ul>
</template>

<script setup lang="ts">
const data = await queryContent('/info').findOne();
</script>
