<template>
  <div id="herocontent">
    <img :src="data.foto" alt="that's my foto" />
    <h2>contact</h2>
    <ul class="unstyled">
      <li v-for="(i, idx) in data.contacts" :key="idx">
        <div>{{ i.name }}</div>
        <a :href="i.link" target="_blank">{{ i.value }}</a>
      </li>
    </ul>
    <h2>top skills</h2>
    <p class="techs">
      <a v-for="(i, idx) in data.topskills" :key="idx" :href="i.link" target="_blank">
        <kbd>#{{ i.title }}</kbd>
      </a>
    </p>
  </div>
</template>

<script setup lang="ts">
const data = await queryContent('/info').findOne();
</script>
